@import "~antd/dist/antd.css";

.hero-section {
  padding: 120px;
}

.container {
  max-width: 80%;
  padding: 2%;
  margin: 0 auto;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.hero-slogan-section {
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 25px;
}

.hero-slogan {
  font-size: 28px;
}

.vertical-margin,
.standard-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.ant-input,
input,
textarea {
  max-width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header-logo {
  height: 40px;
}

.ant-layout-header {
  background: white;
}

.layout {
  background-image: url("https://th.bing.com/th/id/R.a38b67eabc1d0ad7ec6a5214539b9f07?rik=5v%2byU%2bS7K%2fYCFA&riu=http%3a%2f%2fnetworklookout.com%2fimg%2fstyle%2fbanner-bg.png&ehk=RMmckrLN6tZYF1kdc7f6PXFKmLmQBOqYmGsZUKHBaQE%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.invoiceInput {
  padding-right: 10%;
  padding-bottom: 2%;
}